<div class="container-small-card">

    <div class="container-small-card">
        <div class="small-card-img" >
            <img src="{{ photoCover }}" alt="" srcset="" height="150px" width="250px">
         </div>
     
        <div class="small-card-title">
            <h2> <a [routerLink]="['content', Id]">{{ cardTitle }} 
                <div class="saibamais">
                    <p>saiba mais </p></div>
            </a></h2>
        </div>
    </div>
</div>

<div class="linha-small-card">
    <hr>
</div>
